/*
Author: Ville Heikkiniemi (CHANGE THIS)
Date: 2025-09-01 (CHANGE THIS)
*/
body {
  background-color: #B9A5CA;
  font-family: Georgia,serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}
h1 {
  color: #28474A;
  font-size: 2;
  text-align: center;
  margin: auto;
}
img, video, audio{
    display: block;
    max-width: 500px;
    margin: 20px auto;
}
p{
    color: #28474A;
    line-height: 1.6;
    max-width: 600px;
    margin: 20px auto;
    text-align: center;
}

a:link{
    color: #28474A;
}
a:hover{
    color: #FF8717;
}
a:visited{
    color: #C56475;
}

ul {
  list-style-type: disc;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

ul li {
  text-align: center;
  margin: 1px 0;
  position: relative;
}